<div class='row'>
  <div class='col-xs-12'>
    <img [src]='currentRecipe?.imagePath'
         [alt]='currentRecipe?.name'
         class='img-thumbnail app-img'
    >
  </div>
</div>
<div class='row'>
  <div class='col-xs-12'>
    <h1>{{ currentRecipe?.name }}</h1>
  </div>
</div>
<div class='row'>
  <div class='col-xs-12'>
    <div class='btn-group' ngbDropdown>
      <button
        ngbDropdownToggle
        type='button'
        class='btn btn-primary dropdown-toggle'
      >
        Manage Recipe <span class='caret'></span>
      </button>
      <ul ngbDropdownMenu class='dropdown-menu'>
        <li><a ngbDropdownItem href='#'>To Shopping List</a></li>
        <li><a ngbDropdownItem href='#'>Edit Recipe</a></li>
        <li><a ngbDropdownItem href='#'>Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class='row'>
  <p class='col-xs-12 app-description'>
    {{ currentRecipe?.description }}
  </p>
</div>
<div class='row'>
  <h3>Ingredients:</h3>
  <ul class='list-group'>
    <li class='list-group-item' *ngFor='let ingredient of currentRecipe?.ingredients'>
      {{ ingredient.name }} ({{ ingredient.amount }})
    </li>
  </ul>
</div>
